.show__more {
    color: var(--twitter-color);
    padding-left: 20px;
    background-color: #17171c;
    padding-bottom: 24px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 12px;
    /* max-width: 85.3%; */
    font-weight: 100;
}