* {
  transition: all 300ms ease;
}

body {
  --twitter-color: #1A9BEF;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media (max-width: 499px) {
  .app {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}